:host {
  display: flex;
  flex-direction: column;
  min-width: 12em;
}

.btn {
  all: unset;
  color: inherit;
  position: relative;
  overflow: hidden;
  transition: .5s scale, .5s height, .5s opacity;
  padding-left: .25em;
}

.btn > span {
  display: block;
  padding: .25em 0.75em;
  border-bottom: 1px solid var(--toolbar-border);
}

.btn::after {
  content: "";
  width: 2px;
  height: 0;
  opacity: 0;
  top: 0;
  left: 0;
  position: absolute;
  transition: all .2s;
  background-color: currentColor;
}

.btn:hover::before {
  content: "";
  background-color: #999;
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.btn:hover::after {
  height: 100%;
  opacity: .5;
}

.btn.active::after, .btn:active::after {
  height: 100%;
  background-color: var(--primary-color);
  opacity: 1;
}

.folder:not(.active) > .btn {
  scale: 0;
  opacity: 0;
  height: 0;
}

.folder {
  display: flex;
  flex-direction: column;
}