::-moz-selection {
	background-color: #FFF !important;
	color: var(--theme-selection-background) !important;
}

::selection {
	background-color: #FFF !important;
	color: var(--theme-selection-background) !important;
}

/* Layout */
html, body {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	font: message-box;
	color: #18191A;
	background: none !important;
}

.devtools-container {
	display: flex;
}

.devtools-main-content {
	flex: 1;
	height: 100%;
	background-color: var(--theme-body-color);
}

.devtools-main-content:not(:first-child) {
	border-left: 1px solid var(--theme-splitter-color);
}

.devtools-sidebar {
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.devtools-sidebar.left {
	-moz-border-end: 1px solid var(--theme-splitter-color);
}

.devtools-sidebar.right {
	-moz-border-start: 1px solid var(--theme-splitter-color);
}

@media (max-width: 500px) {
	.devtools-container {flex-direction: column;}
	.devtools-sidebar {
		height: 30%;
		width: 100%;
		border-left: none;
		border-right: none;
	}

	.devtools-sidebar.left {
		border-bottom: 1px solid var(--theme-splitter-color);
	}

	.devtools-sidebar.right {
		border-top: 1px solid var(--theme-splitter-color);
	}

	.devtools-main-content {
		height: auto;
		width: 100%;
	}
}

/* Lists */
.devtools-list {
	list-style: none;
	margin: 0;
	padding: 0;
	flex: 1;
	overflow-x: hidden;
	overflow-y: auto;
}

.devtools-list .item {
	display: block;
	transition: all 0.04s;
	padding: 2px;
	padding-right: 10px;
	border-bottom: 1px solid rgba(0,0,0,0.3);
	-moz-margin-end: -1px;
	background-size: auto;
	background-repeat: no-repeat;
	background-position: center right;
}

.devtools-list .item:hover,
.devtools-list .item:focus {
	background-color: rgba(122,122,122,0.1);
}

.devtools-list li.selected .item,
.devtools-list .item.selected {
	border-bottom-color: transparent;
	background-color: var(--theme-selection-background);
	color: var(--theme-selection-color);
}

.theme-dark .devtools-list .item.selected {
	background-image: url(chrome://browser/skin/devtools/itemArrow-dark-ltr.svg);
}

.theme-light .devtools-list .item.selected {
	background-image: url(chrome://browser/skin/devtools/itemArrow-ltr.svg);
}

.devtools-list .item .header {
	font-size: 14px;
}

/* Inputs */
.devtools-textinput,
.devtools-searchinput {
	max-height: 23px !important;
	width: 188px;
	height: auto !important;
	font: inherit;
	float: right;
	max-width: 100%;
	box-sizing: border-box;
}

/* Toolbar */
.devtools-toolbar {
	padding: 2px 3px;
	overflow: auto;
	height: auto !important;
	padding-top: 3px !important;
	min-height: 26px;
	border-bottom: 1px solid var(--theme-splitter-color);
}

/* Toolbar button */
.devtools-toolbarbutton,
.devtools-toolbarbutton[label] {
	padding: 2px 8px !important;
	margin: 0 1px !important;
	font: message-box;
	min-width: 0;
}

.devtools-toolbarbutton.icon {
	padding: 0 3px !important;
	margin-top: 1px !important;
}
.fab {
	position: relative;
	border: none;
	text-transform: uppercase;
	width: 56px;
	height: 56px;
	border-radius: 100%;
	box-sizing:border-box;
	color: #FFF;
	padding: 15px 10px;
	font-size: 24px;
	overflow: hidden;
	transition: all 0.1s;
	text-align: center;
	cursor: pointer;
	background-color: var(--theme-selection-background);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26),
				0px 2px 10px 0px rgba(0, 0, 0, 0.16);
}
.fab:active {
	box-shadow: 0px 8px 17px 0px rgba(0, 0, 0, 0.2),
				0px 6px 20px 0px rgba(0, 0, 0, 0.19);
}
.fab::after {
	content:"";
	position: absolute;
	left: 50%;
	background-color: rgba(204,204,204, 0.29);
	width: 0px;
	height: 0px;
	top: 50%;
	border-radius: 100%;
	transition: all 0.2s;
	text-align: center;
}
.fab:active::after {
	width: 100% !important;
	left:0;
	top: 0 !important;
	height: 100% !important;
	border-radius: 0 !important;
}
.fab.small {
	width: 40px;
	height: 40px;
	line-height: 23px;
	padding: 8px;
}

/* Menus */
.devtools-menu {
	-moz-user-select: none;
	font: menu;
	margin: 0;
	z-index: 999;
	transition: max-height 0.4s, min-width 0.4s, opacity 0.4s;
	background-color: var(--theme-toolbar-background);
	box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.26),
				0px 2px 10px 0px rgba(0, 0, 0, 0.16);
	border-radius: 2px;
	overflow: hidden;
}

.devtools-menu:not(.shown) {
	max-width: 0;
	max-height: 0;
	min-width: 0;
	opacity: 0;
	pointer-events: none;
}

.devtools-menu:not(.shown) .item {
	opacity: 0;
}

.devtools-menu.shown {
	min-width: 210px;
	max-height: 175px;
}

.devtools-menu li {
	list-style: none;
	padding: 0;
	margin: 0;
}

.devtools-menu .item {
	padding: 5px 0;
	-moz-padding-start: 32px;
	-moz-padding-end: 50px;
	text-decoration: none;
	color: inherit;
	list-style: none;
	cursor: default;
	display: block;
	position: relative;
	word-wrap: nowrap;
	overflow: hidden;
	text-overflow: ellipis;
	transition: opacity 0.2s, background 0.07s;
}

.devtools-menu .item:not(.disabled):hover {
	background-color: var(--theme-selection-background);
	color: var(--theme-selection-color);
}

.devtools-menu .item.disabled {
	opacity: 0.5;
}

.separator {
	height: 1px;
	background: var(--theme-splitter-color);
}

.dropdown-menu {
	position: relative;
	display: inline-block;
	vertical-align: top;
}

.dropdown-menu .devtools-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 999;
}

/* Icons */
.devtools-icon {
	overflow: auto;
	display: inline-block;
	height: calc(1em + 1px);
	width: 1em;
}

.devtools-icon::after {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-size: cover;
}

.theme-light .devtools-icon::after {
	filter: invert(1);
}

.devtools-icon.options::after {
	background-image: url("chrome://browser/skin/devtools/tool-options.svg");
}

.devtools-icon.libraries::after {
	background-image: url(images/librairies.svg);
}

[open] .devtools-icon.libraries::after {
	filter: none;
	background-image: url(images/librairies.svg#checked);
}

.devtools-icon.stopwatch::after {
	background-image: url("chrome://browser/skin/devtools/profiler-stopwatch.svg");
}

[checked] .devtools-icon.stopwatch::after {
	filter: none;
	background-image: url("chrome://browser/skin/devtools/profiler-stopwatch-checked.svg");
}
