.devtools-container {
	height: 100%;
}
iframe {
	border: none;
	height: 100%;
	width: 100%;
}
.devtools-main-content {
	position: relative;
}
.devtools-main-content::after {
	content: attr(data-lang);
	z-index: 99;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: #F7F7F7;
	background-clip: padding-box;
	padding: 5px;
	display: inline-block;
	border-radius: 2px;
	font-size: 9px;
	position: absolute;
	top: 5px;
	right: 5px;
	transition: opacity 0.5s ease-in-out;
}
.devtools-main-content:hover::after {
	opacity: 0;
}
.theme-dark .devtools-main-content::after {
	background-color: #343C45;
}

/* Reposition the #export-menu */
.dropdown-menu {
	position: absolute;
	left: 36px;
	top: 45px;
	z-index: 999;
}
/*.dropdown-menu > .devtools-menu {
	top: auto;
	bottom: calc(100% + 10px);
	left: auto;
	right: 0px;
}*/
.devtools-menu .item input {
	display: none;
}

#sidebar {
	width: 35px;
	height: 100%;
	float: left;
	overflow: hidden;
}

#sidebar button {
	width: 35px;
	height: 35px;
	border: none;
	display: block;
}

#sidebar button i::after {
	background-size: 15px 15px;
	background-position: center center;
}

.theme-dark #sidebar button {
	background-color: transparent;
}

.theme-dark #sidebar button:hover {
	background-color: #5A6674;
}

#sidebar button:hover {
	background-color: #E1E1E1;
}

#sidebar button .run::after {
	background-size: 16px 16px;
}

/* Icons */
.devtools-icon {
	overflow: hidden;
}
.devtools-icon.run::after {
	background-image: url("images/run.svg");
}
.theme-dark .devtools-icon.run::after {
	background-image: url("images/run.svg#white");
}
.devtools-icon.save::after {
	background-image: url("images/save.svg");
}
.theme-dark .devtools-icon.save::after {
	background-image: url("images/save.svg#white");
}