.devtools-container {
	height: 100%;
}
iframe {
	border: none;
	height: 100%;
	width: 100%;
}
.devtools-main-content {
	position: relative;
}
.devtools-main-content::after {
	content: attr(data-lang);
	z-index: 99;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: #F7F7F7;
	background-clip: padding-box;
	padding: 5px;
	display: inline-block;
	border-radius: 2px;
	font-size: 9px;
	position: absolute;
	top: 5px;
	right: 5px;
}
.theme-dark .devtools-main-content::after {
	background-color: #343C45;
}

/* Fabs */
#run-button {
	position: absolute;
	z-index: 999;
	bottom: 15px;
	right: 15px;
}
#export-button {
	background-color: #F7F7F7;
	color: #444;
}
.theme-dark #export-button {
	background-color: #343C45;
	color: white;
}

/* Reposition the #export-menu */
.dropdown-menu {
	position: absolute;
	bottom: 23px;
	right: 86px;
	z-index: 999;
}
.dropdown-menu > .devtools-menu {
	top: auto;
	bottom: calc(100% + 10px);
	left: auto;
	right: 0px;
}
.devtools-menu .item input {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
}

/* Icons */
.devtools-icon {
	overflow: hidden;
}
.devtools-icon.run::after {
	background-image: url("images/run.svg");
}
#run-button .devtools-icon.run::after {
	background-image: url("images/run.svg#white");
}
#export-button .devtools-icon.save::after {
	background-image: url("images/save.svg");
}
.theme-dark #export-button .devtools-icon.save::after {
	background-image: url("images/save.svg#white");
}