.devtools-container {
	height: 100%;
}
iframe {
	border: none;
	height: 100%;
	width: 100%;
}
.devtools-main-content {
	position: relative;
}
.devtools-main-content.hide {
	display: none;
}
.devtools-main-content::after {
	content: attr(data-lang);
	z-index: 99;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: var(--theme-toolbar-background);
	background-clip: padding-box;
	padding: 5px;
	display: inline-block;
	border-radius: 2px;
	font-size: 9px;
	position: absolute;
	top: 5px;
	right: 5px;
	transition: opacity 0.5s ease-in-out;
}
.devtools-main-content:hover::after {
	opacity: 0;
}

.devtools-main-content {
	background-color: var(--theme-body-background);
}

/* Settings Panel */
#settings {
	padding: 10px 30px;
}

#settings .title {
	font-size: 16px;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

#settings label {
	font-size: 11px;
}

/* Reposition the #export-menu */
.dropdown-menu {
	position: absolute;
	left: 36px;
	top: 36px;
	z-index: 999;
}
.devtools-menu .item input {
	display: none;
}

#sidebar {
	width: 35px;
	height: 100%;
	float: left;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

#sidebar button {
	width: 35px;
	height: 35px;
	border: none;
	display: block;
	background-color: transparent;
	padding: 0;
	font-size: 10px;
	cursor: pointer;
}

.theme-dark #sidebar button {
	color: white;
}

#sidebar button.active.active.active {
	background: var(--theme-selection-background);
	color: white;
}

#sidebar button:hover {
	background-color: rgba(150, 150, 150, 0.15);
}

#sidebar button:hover:active {
	background-color: rgba(150, 150, 150, 0.3);
}

#sidebar .spacer {
	flex-grow: 1;
}

/* Icons */
.devtools-icon {
	overflow: hidden;
	vertical-align: middle;
	font-size: 16px;
}
.devtools-icon::after {
	background-size: 16px 16px;
	background-position: center center;
}
.devtools-icon.run::after {
	background-image: url("images/run.svg");
}
.theme-dark .devtools-icon.run::after {
	background-image: url("images/run.svg#white");
}
.devtools-icon.save::after {
	background-image: url("images/save.svg");
	filter: contrast(0.5);
}
.theme-dark .devtools-icon.save::after {
	background-image: url("images/save.svg#white");
}
.devtools-icon.code::after {
	background-image: url("chrome://browser/skin/devtools/debugger-prettyprint.png");
	background-position: center left;
	background-size: 32px 16px;
	filter: invert(1);
}
.theme-dark .devtools-icon.code::after {
	filter: none;
}

.devtools-icon.settings::after {
	background-image: url(chrome://browser/skin/devtools/tool-options.svg);
	background-size: 16px 16px;
	filter: invert(1) brightness(0.8);
}

.theme-dark .devtools-icon.settings::after {
	filter: brightness(0.8);
}

@media (min-resolution: 2dppx) {
	.devtools-icon.code::after {
		background-image: url("chrome://browser/skin/devtools/debugger-prettyprint@2x.png");
	}
}
