/* General styles */
.devtools-container {
  flex: 1;
  height: 100%;
}
iframe {
  border: none;
  height: 100%;
  width: 100%;
}
.container {
  display: flex;
}
.container, #wrapper {
  height: 100%;
}

/* Editor containers */
.devtools-main-content {
  position: relative;
}
.devtools-main-content.hide {
  display: none;
}
.devtools-main-content::after {
  content: attr(data-lang);
  z-index: 1;
  border: 1px solid rgba(0,0,0,0.3);
  background-color: var(--theme-toolbar-background);
  background-clip: padding-box;
  padding: 5px;
  display: inline-block;
  border-radius: 2px;
  font-size: 9px;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: opacity 0.5s ease-in-out;
}
.devtools-main-content:hover::after {
  opacity: 0;
}

.devtools-main-content {
  background-color: var(--theme-body-background);
}

/* Settings Panel */
.overlay {
  position: absolute;
  left: 33px;
  top: 0;
  width: calc(100% - 33px);
  height: 100%;
  padding: 10px 0;
  z-index: -2;
  opacity: 0;
  background-color: var(--theme-body-background);
  transition: opacity 0.4s ease, z-index 0.2s 0.4s;
}

.overlay.active {
  display: flex;
  z-index: 2;
  opacity: 1;
  transition: opacity 0.4s ease;
}

#settings .column {
  float: left;
  width: 50%;
  padding: 0 30px;
  box-sizing: border-box;
}

#settings form {
  width: 100%;
}

#settings .setting {
  overflow: auto;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
}

#settings .setting.single {
  flex-direction: row;
}

#settings .setting:not(.single) label {
  margin-bottom: 5px;
}

#settings .setting.single label {
  margin-top: 2px;
}

#settings .setting textarea {
  resize: resize-y;
}

#settings .setting :not([type="checkbox"]):not([type="radio"]) + label {
  order: 1;
}

#settings .title {
  font-size: 16px;
  font-weight: normal;
  margin-block-start: 1em;
  margin-block-end: 1em;
}

#settings .setting :not([type="checkbox"]):not([type="radio"]) {
  order: 2;
}

#settings label {
  font-size: 11px;
  vertical-align: top;
}

.menu .item input {
  display: none;
}

.menu {
  box-sizing: border-box;
  flex: 1;
  height: 100%;
  max-width: 0;
  background: var(--theme-sidebar-background);
  box-sizing: border-box;
  overflow-y: hidden;
  transition: max-width 0.3s ease;
}

.menu.active {
  max-width: 270px;
  border-right: 1px solid var(--theme-splitter-color);
}

.menu .menu-title {
  font-size: 1.3em;
  padding: 12.5px 10px;
  margin: 0;
}

/* Icon sidebar */
#sidebar {
  max-width: 33px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  z-index: 2;
  border-right: 1px solid var(--theme-splitter-color);
  background: var(--theme-toolbar-background);
  box-sizing: border-box;
}

#sidebar button {
  width: 32px;
  height: 32px;
  border: none;
  display: block;
  background-color: transparent;
  padding: 0;
  font-size: 10px;
  cursor: pointer;
  position: relative;
}

.theme-dark #sidebar button {
  color: white;
}

#sidebar button:not(.active):hover {
  background-color: rgba(150, 150, 150, 0.15);
}

#sidebar button:not(.active):hover:active {
  background-color: rgba(150, 150, 150, 0.3);
}

#sidebar button.active {
  background: var(--theme-selection-background);
  color: white;
}

#sidebar button .badge {
  position: absolute;
  top: 2px;
  right: 2px;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
  background-color: #F44336;
  z-index: 2;
}
#sidebar button .badge:empty {
  display: none;
}

#sidebar .spacer {
  flex-grow: 1;
}

/* Libraries menu */
#libraries-menu {
  display: flex;
  flex-direction: column;
}
#libraries-menu:not(.results) b:first-of-type,
#libraries-menu:not(.results) #libraries-search-results,
#libraries-menu:not(.results) .separator {
  display: none;
}
#libraries-menu > b {
  padding: 10px 0;
  padding-inline-start: 10px;
  font-weight: 500;
}
#libraries-menu .devtools-toolbar {
  padding: 0 5px;
}
#libraries-search-results,
#injected-libs {
  flex: 1;
  text-align: center;
  overflow: auto;
}
#libraries-search-results {
  max-height: 40%;
}
#libraries-search-results:empty::after,
#injected-libs:empty::after {
  content: attr(data-placeholder);
  margin-top: 5px;
}

#libs-filter {
  width: 100%;
}
.item-name,
.item-url {
  display: block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.item-name {
  font-weight: 500;
}
#libraries-search-results .item,
#injected-libs .item {
  display: flex;
  padding: 10px !important;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  text-align: start;
}
.item:hover {
  background: var(--theme-selection-background);
  color: var(--theme-selection-color);
}
#injected-libs .item-name {
  text-decoration: underline;
  font-weight: 400;
}
#injected-libs .item > div,
#libraries-search-results .item > div {
  flex: 1;
  min-width: 0;
}

#libraries-menu .devtools-searchinput {
  flex: 1 100%;
  width: 98%;
}

/* Export Menu */
#export-menu a {
  display: block;
  width: 100%;
  padding: 12.5px 10px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--theme-splitter-color);
  text-align: center;
  cursor: pointer;
}

#export-menu a:hover {
  background: var(--theme-selection-background);
  color: var(--theme-selection-color);
}

#export-menu a[data-service^="gist"] {
  width: 50%;
  display: inline-block;
}

#export-menu a[data-service="gist-public"] {
  border-right: 1px solid var(--theme-splitter-color);
}

/* Icons */
.devtools-icon {
  overflow: hidden;
  vertical-align: middle;
  font-size: 16px;
}
.devtools-icon::after {
  background-size: 16px 16px;
  background-position: center center;
}
button.active .devtools-icon::after {
  filter: none !important;
}
button:not(.active) .devtools-icon.export::after,
button:not(.active) .devtools-icon.libraries::after,
button:not(.active) .devtools-icon.settings::after {
  opacity: 0.7
}

/* Icon list */
.devtools-icon.run::after {
  background-image: url("images/run.svg");
}
.devtools-icon.export::after {
  background-image: url("images/save.svg");
}
.devtools-icon.add::after {
  background-image: url("chrome://browser/skin/devtools/add.svg");
}
.devtools-icon.remove::after {
  background-image: url("images/remove.svg");
}
.devtools-icon.libraries::after {
  background-image: url(images/librairies.svg);
}
.devtools-icon.stopwatch::after {
  background-image: url("chrome://browser/skin/devtools/profiler-stopwatch.svg");
}
.devtools-icon.settings::after {
  background-image: url(chrome://browser/skin/devtools/tool-options.svg);
  background-size: 16px 16px;
}
.devtools-icon.beautify::after {
  background-image: url("chrome://browser/skin/devtools/debugger-prettyprint.png");
  background-position: center left;
  background-size: 32px 16px;
}
@media (min-resolution: 1.1dppx) {
  .devtools-icon.beautify::after {
    background-image: url("chrome://browser/skin/devtools/debugger-prettyprint@2x.png");
  }
}

