.devtools-container {
	flex: 1;
	height: 100%;
}
iframe {
	border: none;
	height: 100%;
	width: 100%;
}
.container {
	display: flex;
}
.container, #wrapper {
	height: 100%;
}
.devtools-main-content {
	position: relative;
}
.devtools-main-content.hide {
	display: none;
}
.devtools-main-content::after {
	content: attr(data-lang);
	z-index: 99;
	border: 1px solid rgba(0,0,0,0.3);
	background-color: var(--theme-toolbar-background);
	background-clip: padding-box;
	padding: 5px;
	display: inline-block;
	border-radius: 2px;
	font-size: 9px;
	position: absolute;
	top: 5px;
	right: 5px;
	transition: opacity 0.5s ease-in-out;
}
.devtools-main-content:hover::after {
	opacity: 0;
}

.devtools-main-content {
	background-color: var(--theme-body-background);
}

/* Settings Panel */
#settings {
	padding: 10px 0;
}

#settings .column {
	float: left;
	width: 50%;
	padding: 0 30px;
	box-sizing: border-box;
}

#settings .setting {
	overflow: auto;
	margin-bottom: 5px;
}

#settings .title {
	font-size: 16px;
	font-weight: normal;
	margin-block-start: 1em;
	margin-block-end: 1em;
}

#settings label {
	font-size: 11px;
	vertical-align: top;
}

/* Reposition the #export-menu */
.dropdown-menu {
	position: absolute;
	left: 36px;
	top: 36px;
	z-index: 999;
}
.menu .item input {
	display: none;
}

.menu {
	box-sizing: border-box;

	flex: 1;
	max-width: 0px;
	height: 100%;

	transition: max-width 0.3s ease;
}

.menu.active {
	max-width: 270px;
	border-right: 1px solid var(--theme-splitter-color);
}

#sidebar {
	max-width: 35px;
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	z-index: 2;
	border-right: 1px solid var(--theme-splitter-color);
	background: var(--theme-toolbar-background);
}

#sidebar button {
	width: 35px;
	height: 35px;
	border: none;
	display: block;
	background-color: transparent;
	padding: 0;
	font-size: 10px;
	cursor: pointer;
	position: relative;
}

.theme-dark #sidebar button {
	color: white;
}

#sidebar button.active.active.active {
	background: var(--theme-selection-background);
	color: white;
}

#sidebar button:hover {
	background-color: rgba(150, 150, 150, 0.15);
}

#sidebar button:hover:active {
	background-color: rgba(150, 150, 150, 0.3);
}

#sidebar button .badge {
	position: absolute;
	top: 2px;
	right: 2px;
	border-radius: 100%;
	width: 12px;
	height: 12px;
	font-size: 10px;
	font-weight: 500;
	color: #fff;
	background-color: #F44336;
}
#sidebar button .badge:empty {
	display: none;
}

#sidebar .spacer {
	flex-grow: 1;
}

#libraries-menu {
	width: 250px;
	box-sizing: border-box;
	background: var(--theme-sidebar-background);
	margin-left: -251px;
	transition: margin-left 0.5s ease;
}

#libraries-menu:not(.results) b:first-of-type,
#libraries-menu:not(.results) #libraries-search-results,
#libraries-menu:not(.results) .separator {
	display: none;
}
#libraries-menu > b {
	padding: 5px 0;
	padding-inline-start: 10px;
	font-weight: 500;
}
#libraries-menu .devtools-toolbar {
	padding: 0 5px;
}
#libraries-search-results,
#injected-libs {
	flex: 1;
	text-align: center;
}
#libraries-search-results:empty::after,
#injected-libs:empty::after {
	content: attr(data-placeholder);
	margin-top: 5px;
}

#libs-filter {
	width: 100%;
}
.item-name,
.item-url {
	display: block;
	max-width: 100%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.item-name {
	font-weight: 500;
}
#libraries-search-results {
	overflow: auto;
}
#libraries-search-results .item,
#injected-libs .item {
	display: flex;
	padding: 10px !important;
	width: 100%;
	max-width: 100%;
	box-sizing: border-box;
	text-align: start;
}
.item:hover {
	background: var(--theme-selection-background);
	color: var(--theme-selection-color);
}
#injected-libs .item-name {
	text-decoration: underline;
	font-weight: 400;
}
#injected-libs .item-name,
#libraries-search-results .item > div {
	flex: 1;
	min-width: 0;
}

/* Icons */
.devtools-icon {
	overflow: hidden;
	vertical-align: middle;
	font-size: 16px;
}
.devtools-icon::after {
	background-size: 16px 16px;
	background-position: center center;
}
.devtools-icon.run::after {
	background-image: url("images/run.svg");
}
.devtools-icon.export::after {
	background-image: url("images/save.svg");
}
[open] .devtools-icon.export::after {
	filter: none;
	background-image: url(images/save.svg#checked);
}
.devtools-icon.add::after {
	background-image: url("chrome://browser/skin/devtools/add.svg");
}
.devtools-icon.remove::after {
	background-image: url("images/remove.svg");
}
.devtools-icon.checked::after {
	background-image: url("images/checked.svg");
}
button:not([open]) .devtools-icon.export::after,
button:not([open]) .devtools-icon.libraries::after,
button:not([open]) .devtools-icon.settings::after {
	opacity: 0.7
}
.devtools-icon.beautify::after {
	background-image: url("chrome://browser/skin/devtools/debugger-prettyprint.png");
	background-position: center left;
	background-size: 32px 16px;
	filter: invert(1);
}
.theme-dark .devtools-icon.beautify::after {
	filter: none;
}

.devtools-icon.settings::after {
	background-image: url(chrome://browser/skin/devtools/tool-options.svg);
	background-size: 16px 16px;
}

@media (min-resolution: 1.1dppx) {
	.devtools-icon.beautify::after {
		background-image: url("chrome://browser/skin/devtools/debugger-prettyprint@2x.png");
	}
}
