/* Reset */

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font: caption;
  font-family: system-ui, -apple-system, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Theme */

:root {
  --background: #fff;
  --text: #333;
  --toolbar-background: #f1f1f1;
  --toolbar-border: #ddd;
  --toolbar-text: inherit;

  --primary-color: #0074e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #111;
    --text: #f1f1f1;

    --toolbar-background: #444;
    --toolbar-text: inherit;
  }
}

/* Avoid flash by applying background on :root */

:root {
  background-color: var(--background);
  color: var(--text);
}

.prototyper-container:not(.loaded) {
  visibility: hidden;
}

/* Layout */

.prototyper-container {
  display: grid;
  place-items: stretch;

  grid-template-areas: "toolbar html css js";
  grid-template-columns: auto 1fr 1fr 1fr;
}

.prototyper-container:not(.extension) {
  grid-template-areas: "toolbar html css"
                       "toolbar js   preview";
  grid-template-rows: 1fr 1fr;
  grid-template-columns: auto 1fr 1fr;
}

prototyper-toolbar {
  grid-area: toolbar;
  background-color: var(--toolbar-background);
  border-right: solid 1px var(--toolbar-border);
}

prototyper-editor {
  border: 1px solid var(--toolbar-border);
  box-sizing: border-box;
}

prototyper-editor[language="html"] {
  grid-area: html;
}

prototyper-editor[language="css"] {
  grid-area: css;
}

prototyper-editor[language="js"] {
  grid-area: js;
}

.prototyper-preview {
  grid-area: preview;
  border: none;
  border-left: 1px solid var(--toolbar-border);
}

.prototyper-container.extension .prototyper-preview {
  display: none;
}