/* Reset */

html,
body {
  margin: 0;
  padding: 0;

  width: 100%;
  height: 100%;

  font: caption;
  font-family: system-ui, -apple-system, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  overflow: hidden;
}

/* Theme */

:root {
  --background: #fff;
  --settings-background: rgb(243, 243, 243);
  --text: #333;
  --toolbar-background: #f1f1f1;
  --toolbar-border: #ddd;
  --toolbar-text: inherit;

  --primary-color: #0074e8;

  --editor-filter: none;
}

:root.dark {
  --background: #111;
  --settings-background: rgb(86, 86, 86);
  --text: #f1f1f1;
  --toolbar-border: rgb(50, 50, 50);

  --toolbar-background: #444;
  --toolbar-text: inherit;
  --editor-filter: invert(0.9);
}

/* Avoid flash by applying background on :root */

:root {
  background-color: var(--background);
  color: var(--text);
}

.prototyper-container:not(.loaded) {
  visibility: hidden;
}

/* Layout */

.prototyper-container {
  display: grid;
  place-items: stretch;

  grid-template-areas: "toolbar html css js";
  grid-template-columns: auto repeat(3, minmax(0, 1fr));
}

.prototyper-container:not(.extension) {
  grid-template-areas: "toolbar html css"
                       "toolbar js   preview";
  grid-template-rows: repeat(2, minmax(0, 1fr));
  grid-template-columns: auto repeat(2, minmax(0, 1fr));
}

prototyper-toolbar {
  grid-area: toolbar;
  background-color: var(--toolbar-background);
  border-right: solid 1px var(--toolbar-border);
}

prototyper-editor {
  border: 1px solid var(--toolbar-border);
  box-sizing: border-box;
}

prototyper-editor[language="html"] {
  grid-area: html;
}

prototyper-editor[language="css"] {
  grid-area: css;
}

prototyper-editor[language="js"] {
  grid-area: js;
}

.prototyper-preview {
  grid-area: preview;
  overflow: hidden;
  position: relative;
  border: none;
  border-left: 1px solid var(--toolbar-border);
  width: 100%;
  height: 100%;
}

.prototyper-preview > iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.prototyper-container.extension .prototyper-preview {
  display: none;
}

/* Copied notification */

message-success, message-error {
  position: fixed;
  bottom: 1em; right: 1em;
  width: min(100%, 24em);
  background-color: green;
  opacity: .75;
  z-index: 199;
  padding: 1em;
  border-radius: .2em;
}
message-error {
  background-color: red;
}
message-success::after, message-error::after {
  content: attr(text);
  text-align: center;
  display: inline-block;
  width: 100%;
  font-size: large;
  color: white;
}

.cdn-container {
  grid-area: html / html / preview / preview;
  transition: .3s opacity;
  background-color: var( --settings-background);
  z-index: 199;
  display: flex;
  flex-direction: row;
  max-height: 100vh;
}
.cdn-container input {
  padding: .2em;
}
.cdn-container > div {
  width: 100%;
  overflow: auto;
}
.searchBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 70%;
  border: 1px solid var(--toolbar-border);
}
.cdn-container:not(.visible) {
  display: none;
}

.searchBox > input[type="text"] {
  width: 80%;
  padding: 1em;
  position: sticky;
  top: 0;
}

.searchBox > div, search-result {
  width: 100%;
}
